# Arquivos e diretórios específicos a serem ignorados

/node_modules
/dist
/.vscode
/.idea

# Arquivos de compilação e configuração específicos a serem ignorados

*.log
*.log.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.npm
/.yarn

# Arquivos de configuração específicos a serem ignorados

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de compilação específicos a serem ignorados

.DS_Store
*.bak
*.backup
*.swap
*.swp
